NEXT_PUBLIC_SITE_URL=https://www.truefoxaiinc.com
NEXT_PUBLIC_WHATSAPP_NUMBER=919074897768
NEXT_PUBLIC_LINKEDIN_URL=https://ca.linkedin.com/company/truefox-ai-inc
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_X_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_WEB_VITALS_ENDPOINT=
NEXT_PUBLIC_API_URL=https://api.truefoxaiinc.com
